<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<footer class="foot" style="text-align: center; background-color: black;color: whitesmoke;height: 15vh;display: flex;align-items: center;justify-content: center;">
  <a href="//instagram.com/my_game_buddy"><i style="color: white;" class="fa fa-instagram"></i></a> &ensp;&ensp;&ensp;
  <a href="mailto:mygamebuddyy@gmail.com"><i style="color: white;" class="fa fa-envelope"></i></a>
  <!-- <i class="fa fa-youtube-play"></i> -->
  
  &ensp;&ensp;&ensp;&ensp;<br>
  <a style="color:white" href="https://www.privacypolicygenerator.info/live.php?token=jXZoE9JoyFDwYtk1Flrf7wIumXwHrTy0">Privacy & Policy</a> &ensp;&ensp;
  <br>
  <a style="color: white;" href="/terms-conditions">Terms and Conditions</a>
  

</footer>
</body>
</html>