<%- include("partials/header") -%>

<div class="x">

<section id="two" class="schedule">
    <div style="padding: 3%;">
        <h1  style="color: whitesmoke;"><strong>MATCH SCHEDULE</strong></h1>
       </div>
       
       <div class="container" style="padding-bottom:3% ;">
        <div class="card-deck">
            <div class="card text-center">
             
                <div class="card-block">
                  <img src="/images/card.png" width="100px" height="100px" alt="">
                    <h4 class="card-title">MATCH 1</h4>
                    <p class="card-text">
                      Type : Squad <br>
                      Map : Erangel <br>
                      Mode : Classic 
                    </p>
                </div>
                <div class="card-footer">
                  <a href="/tournDetails">JOIN</a>
                </div>
            </div>
    
            <div class="card text-center">
             
                <div class="card-block">
                  <img src="/images/card.png" width="100px" height="100px" alt="">
                    <h4 class="card-title">Match 2</h4>
                    <p class="card-text">
                      Type : Squad <br>
                      Map : Erangel <br>
                      Mode : Classic 
                    </p>
                </div>
                <div class="card-footer">
                  <a href="/tournDetails">JOIN</a>
                </div>
            </div>
    
            <div class="card text-center">
            
                <div class="card-block">
                  <img src="/images/card.png" width="100px" height="100px" alt="">
                    <h4 class="card-title">MATCH 3</h4>
                    <p class="card-text">
                        Type : Squad <br>
                        Map : Erangel <br>
                        Mode : Classic 
                    </p>
                </div>
                <div class="card-footer">
                  <a href="/tournDetails">JOIN</a>
                </div>
            </div>
        </div>
        
    </div>

</section>

 </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<%- include("partials/footer") -%>