<%- include("partials/header") -%>

<div style="padding: 2em; font-size: large;">
    <ul style=" justify-content: left; color: black">
        <li>
            <h3>Rules</h3>
            <ul style="list-style: disc">
            <li>
                Any type of hacking is not allowed. Hacking includes and is not limited to :
                <br>
                Speed Hack<br>
                Location Hack<br>
                Item Drop Hack
            </li>
            <li>
                Payment will be processed within 24 hours of the results. 
            </li>
            <li>
                Players are required to take screenshots of their match results and video recording in case they find someone cheating/teaming in the match and need to submit it as a proof.
            </li>
            <li>
                No refund will be given if you don't follow the rules.
            </li>
        </ul>
    </li>
        <br>
        <li>
            <h3> Contact Us</h3>
            <li>If you have any questions, you can e-mail us at mygamebuddyy@gmail.com</li>
        </li>
    </ul>
</div>
<%- include("partials/footer") -%>