<%- include("partials/header") -%>


<div class="background-admin" style="text-align: center;">

    <form class="form-signin" method="POST" action="/tournament/sendMessage/<%=tournament._id%>">
        <img class="mb-4 img-index" src="/images/logo.jpeg" alt="" width="150" height="200">

        <h1 style="color: whitesmoke;" class="h3 mb-3 font-weight-normal"><strong>ADMIN</strong></h1><br>

        <textarea name="message" class="form-control admin" placeholder="Message" rows="6"></textarea>
        <br>
        
        <input class="btn btn-lg btn-dark btn-block" type="submit" value="Send Message">

    </form>


</div>



<%- include("partials/footer") -%>