.container {
    max-width: 960px;
  }
  
  .lh-condensed { line-height: 1.25; }
  .background{
    height: 100%;
    color: whitesmoke;
    background-image: linear-gradient(black,rgb(88, 7, 88),black);
  }