* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  .tournament-page-container {
    min-height: 100vh;
    width: 100%;
    background: #474967; /* fallback for old browsers */
  
   /* Chrome 10-25, Safari 5.1-6 */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .responsive-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tournament-page-wrapper {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(212, 205, 205);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(11, 35, 22, 0.5);
    transition: all 0.4s ease-in-out;
  }
  .tournament-name-div {
    margin-bottom: 40px;
  }
  .tournament-name-text {
    font-size: 4vw;
    color: #000;
  }
  .tournament-details-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .tournament-page-wrapper img {
    width: 22vw;
  }
  .details-div {
    flex-direction: column;
    width: 550px;
    /* background-color: aquamarine; */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
  
  }
  .details-div h2 {
    font-size: 50px;
    color: black;
  }
  ul {
    list-style-type: none;
  }
  #details-ul li {
    padding: 20px;
    color: black;
  }
  @media (max-width: 760px) {
    .tournament-name-text {
      font-size: 10vw;
    }
    .tournament-details-wrapper img {
      width: 40vw;
    }
  }
.button{
    background-color: #474967   !important ;
  }

  